.form {
  margin: auto;
  display: flex;
  flex-direction: column;    
  max-width: 500px;
}

.form__label {
  font-weight: 600;
  color: #256543;
}

.form__text-field {
  padding: 5px 25px;  
  background-color: turquoise;
}

.form__submit-btn {
  display: block;
  height: 30px;
  width: 100px;
  background-color: silver;
  box-shadow: 4px 0px 0px grey;
  color: #212121;
  transition: 
    background-color 250ms cubic-bezier(0.165, 0.84, 0.44, 1),
    box-shadow 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.form__submit-btn:hover {
  background-color: honeydew;
  box-shadow: green;
}