.section01__container {
    padding: 100px 50px;
    background-color: #354147;
    
}

.title {
    margin-bottom: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.5;
    color: #FBD784;


}

.section01__box {
    display: flex;
    align-items: center;
}
.section01__text {
    display: flex;
    width: 600px;
    margin-right: 50px;


    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    color: #ffffff;

}


.section01__link {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    color: #9C9C42;
    
    
}