 <form action="" class="form">
    <label class="form__label">Username
      <input type="text" name="username" class="form__text-field" autofocus />
    </label>
    <label class="form__label">Email
      <input type="email" name="email" class="form__text-field" />
    </label>
    <label class="form__label"> Phone number <input type="tel"
        name="phone_number" class="form__text-field" /></label>
    <label class="form__label"> Age <input type="number" name="age" value="0"
        min="18" max="120" class="form__text-field" /></label>
    <button class="form__submit-btn" type="submit">Submit</button>
  </form>