<form action="" class="form">
  <label class="form__label" for="username">Username
    <input type="text" name="username" id="username"
    class="form__text-field" autofocus />
  </label>  
  <label class="form__label" for="email">Email
     <input type="email" name="email" class="form__text-field"
    id="email" />
  </label>
 
  <label class="form__label" for="phone_number"> Phone
    number 
    <input type="tel" name="phone_number" id="phone_number"
    class="form__text-field" />
  </label>
  
  <label class="form__label" for="age"> Age 
    <input
      type="number" name="age" id="age" value="0" min="18"
      max="120" class="form__text-field" />
  </label>

  <button class="form__submit-btn"
    type="submit">Submit</button>
</form>