<!DOCTYPE html>
<section class="hero__space">
    <div class="hero__sky-window">
        <div class="hero__words">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore tempora recusandae accusamus
            inventore ullam voluptatem nisi dignissimos sit ipsum, voluptatum culpa rem nihil animi aperiam eos sed!
            Impedit iure omnis doloremque quam delectus illum, perspiciatis perferendis nam. Quas beatae ipsum
            exercitationem sapiente laborum, soluta aliquam facere hic culpa eaque in quaerat? Nulla ex, dolore nesciunt
            ipsam amet odit qui quaerat optio commodi maxime veniam accusantium ut provident, facilis reprehenderit
            atque rem sit voluptas natus praesentium cumque. Ea ipsa eligendi ad, nam ipsum quae temporibus. Maxime
            necessitatibus est tempora accusamus deleniti libero odio repudiandae sequi, magnam eaque possimus animi
            neque reprehenderit magni, dolorem omnis eum, vel molestiae illo! Iure, molestiae? Saepe, dolore molestiae.
            Assumenda saepe dicta perspiciatis officia labore, officiis, at, sint maiores dolor blanditiis dolore
            ratione illo quo nesciunt rerum! Voluptatum dolore, sed autem eligendi reprehenderit vero ad. Nemo ratione
            asperiores accusamus? Fugiat minima laboriosam nostrum quis sint dignissimos pariatur?

        </div>
    </div>
</section>