<section class="section01">
    <div class="container">
        <div class="section01__container">
            <h2 class="title">where you go is the key</h2>
            <div class="section01__box">
                <p class="section01__text">
                    To start, print out the hiking guide and map. If it’s raining, throw them in a Zip-Lock bag. Read over the guide, study the map, and have a good idea of what to expect. I like to know what my next landmark is as I hike. For example, I’ll read the guide and know that say, in a mile, I make a right turn at the junction..
                </p>
                <img src="images/section01/01.jpg" alt="" width="520" height="480"/>
            </div>
            
            <a class="section01__link" 
            href="" 
            target="_blank"
            rel="noopener noreferrer">read more</a>
        </div>
    </div>
</section>