<section class="test-section">
    <div class="container">
        <div class="test-sextion__container">
            <h2 class="title">About US</h2>
            <p class="test-section__text">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
            </p>
            <button class="test-section__button" type="button">Find out more</button>
        </div>
    </div>
</section>